<nav class="navbar">
  <div class="container-nav">
    <div class="navbar-header">
      Welcome to Schoodle!
      <ul class="navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/events/new">Create Event!</a></li>
      </ul>
    </div>
  </div>
</nav>