<!-- options for date/time

jan 24 4pm = yes/no
option
option
click one option only once


/events/:id/availability -->

<!DOCTYPE html>
<html lang="en">
<body>HELLO this is availability</body>
</html>