<!DOCTYPE html>
<html lang="en">
<head>Welcome to Schoodle!
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $("button").click(function(){
    $("p").hide();
  });
});
</script>
</head>

<title>What are your options?</title>

partial header

body should show 
title description location

option 1
option 2
option 3

options should send to /events/:id/main

  <body>

    <p>You are invited to LHL's birthday! Come to 666 King Street</p>

    <form id= "345" action="/id:/main" method="POST">
      <input type="radio" name="x" value="Option 1"> Lighthouse <br>
      <input type="radio" name="y" value="Option 2"> Labs <br>
      <input type="radio" name="z" value="Option 3"> King
    </form>

  </body>
</html>


<<<<<<< HEAD
=======
<!DOCTYPE html>
<html lang="en">
<body>HELLO this is availability



    <%= title, description %>
</body>
</html>
>>>>>>> 38b99c74e59f2c4a134ef595f6e14c4a3c83a56a
