<% include partials/header %>
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Schoodle</h1>
    <hr>
    <p class="lead">Make the most amazing memories together with family and friends!</p>
    <hr class="my-4">
    <p>For Free. For Everyone. Forever.</p>
    <a class="btn btn-secondary btn-lg d-block text-center" href="/events/new" role="button">Create Event</a>
  </div>
</main>
<% include partials/footer %>

