<% include partials/header %>
  <main class="container">
<!--     <div class="sub-container"> -->

  <div class="jumbotron">
    <h1 class="display-4 text-center">Schoodle</h1>
    <p class="lead">Make the most amazing memories together with family and friends!</p>
    <hr class="my-4">
    <p>For Free. For Everyone. Forever.</p>
    <a class="btn btn-secondary btn-lg d-block text-center" href="/events/new" role="button">Create Event</a>
  </div>


<!--       <h1>Welcome to Schoodle!</h1>
      <h4>Make the most amazing memories!</h4>
      <a href="/events/new" class="btn btn-seconday btn-lg">Create Event</a> -->
<!--     </div> -->
  </main>
</body>
<% include partials/footer %>
</html>
