<% include partials/header %>
  <main class="container">
    <div class="sub-container">
      <h1 id="welcome">Hello and Welcome to Schoodle!</h1>
      <h4 id="landing-text"> Make the most amazing events <br> with just a click of the 
        <span>
          <form id="form01" action="/events/new" method="GET">
            <input id="new-event-button" type="submit" value="button!">
          </form>
        </span>
      </h4>
    </div>
  </main>
</body>
<% include partials/footer %>
</html>
