<!-- //last page where u see all users, their choices
show to visitor
u have rsvped to party
at location
for organizer X

+ your choice of slot


events/:id/main -->

<!DOCTYPE html>
<html lang="en">
<body>HELLO this is main</body>
</html>