<!DOCTYPE html>
<html lang="en">


  <head>Thank you for confirming your attendance at LHL's birthday! </head>



<body> You chose <%=option%> </body>



</html>







<!-- //last page where u see all users, their choices
show to visitor
u have rsvped to party title
at location location
for organizer X org name

+ your choice of slot


events/:id/main -->
