<% include partials/header %>
<main class = "container">
  <div class="sub-container">
    <h2 class="header">
      Fill in your event info
    </h2>
    <form id= "form02" action="/events" method="POST">
      <textarea id="input_title" name="title" placeholder="Name your event!" required></textarea>
      <textarea id="input_description" name="description" placeholder="Description" required></textarea>
      <textarea id="input_location" name="location" placeholder="Location"required></textarea>

      <textarea id="input_datetime1" name="option1" placeholder="Date and time option 1" required></textarea>
      <textarea id="input_datetime2" name="option2" placeholder="Date and time option 2" required></textarea>
      <textarea id="input_datetime3" name="option3" placeholder="Date and time option 3" required></textarea>

      <input id="create-event-button" type="submit" value="Create Event!">
    </form>
  </div>
</main>
<% include partials/footer %>



