<!-- form with title, location, description, options(date, just one for now)
button create event


/events/new -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Schoodle - Create New Event</title>
  <% include partials/header %>
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/style.css" type="text/css" />
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
</head>

<body>
  <main class = "container">
    <h2>
      Please fill in the required fields:
    </h2>
    <form id= "form02" action="/events/:id" method="GET">
      <textarea id="input_title" name="title" placeholder="Name your event!"></textarea>
      <textarea id="input_description" name="description" placeholder="Description"></textarea>
      <textarea id="input_location" name="location" placeholder="Location"></textarea>
      <textarea id="input_datetime" name="option" placeholder="Date and time"></textarea>
      <input id="create-event-button" type="submit" value="Create Event!">
    </form>

  </main>
</body>
</html>
