<% include partials/header %>
<main class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Schoodle</h1>
    <hr class="my-4">
    <p class="lead">Share your new Event with your friends!</p>
    <hr class="my-4">
    <h4><a class="font-weight-bold shortURL" href="http://localhost:3000/events/<%= shortURL %>/user_verify" >localhost:3000/events/<%= shortURL %>/user_verify</a></h4>
  </div>
</main>
<% include partials/footer %>
