
<% include partials/header %>
<main class = "container">
    <div class="sub-container">
        <h3 style="margin-bottom: 0"> 
            Share with your friends!
        </h3>
        <a href="http://localhost:3000/events/<%= shortURL %>/user_verify" >localhost:3000/events/<%= shortURL %>/user_verify</a>
    </div>
</main>
<% include partials/footer %>
