<!-- just show the shorturl
hey, this is your link to this event as organizer

details of event

if click this shorturl it takes to user_verification


/events/:id -->

<!DOCTYPE html>
<html lang="en">
<body>HELLO this is shorturl</body>
</html>