    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Schoodle - Share the Link!</title>
        <% include partials/header %>
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>
    </head>
    <% include partials/slideshow %>
    <body>
        <main class = "container">
            <div class="sub-container">
                <h3 style="margin-bottom: 0"> 
                    Share with your friends!
                </h3>
                <a href="http://localhost:3000/events/<%= shortURL %>/user_verify" >localhost:3000/events/<%= shortURL %>/user_verify</a>
            </div>
        </main>
    </body>
    <% include partials/footer %>
    </html>