<% include partials/header %>

  <main class="container">
    <div class="sub-container">
      <div class="header">
        <h1>You are invited to <%= title %>!</h1>
        <hr>
        <h3>How cool is that?</h3>
        <hr>
        <h4 class="text-center">Please let us know your information in order to proceed</h4>
      </div>
      <form class="forms" action="/events/<%=shortURL%>/user_verify" method="POST">
        <input id="user_name" class="input" type="text" name="name" placeholder="Name" required>
        <input id="user_email" class="input" type="email" name="email" placeholder="Email" required >
        <button class="btn btn-lg btn-secondary d-block text-center buttons" type="submit">Submit</button>
      </form>
    </div>
  </main>
  
<% include partials/footer %>


