<!-- form with name and email and button submit, redirects to availability
    
    events/:id/user_verify -->
    
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8"/>
        <title>Schoodle - You are invited to the party!</title>
        <% include partials/header %>
        <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
        <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
        <link rel="stylesheet" href="/styles/style.css" type="text/css" />
        <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
        <script type="text/javascript" src="/scripts/app.js"></script>

    </head>
    <% include partials/header %>
    <body>
        <main class = "container">
            <div class="sub-container">
                <h1>You are invited to the party!</h1>
                <p>Title</p>
                <p>Description</p>
                <p>Location</p>
                <h3>In order to proceed with your response to the invitation, you first need to enter your info:</h3>
                <form action="/events/:id/availability" method="POST">
                    <input id="user_name" type="text" name="user_name" placeholder="Name" >
                    <input id="user_email" type="email" name="email" placeholder="Email" >
                    <input type="submit" value="Proceed!">
                </form>            
            </div>
        </main>
    </body>
    <% include partials/footer %>
    </html>
    