// Global font parameters
$font-stack:    Arial, Helvetica, sans-serif;
$primary-color: rgb(66, 66, 66);

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-family: 'KoHo', sans-serif;
}

* {box-sizing: border-box}


// Main container / purple frame
.container {
  z-index: 1;
  width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  padding-top: 1em;
  padding-bottom: 1%;
}

// White box inside purple
.sub-container {
  opacity: 1 !important;
  z-index: 1;
  border-radius: 5px;
  background: #343a40;
  color: #fff;
  margin: 2em;
}

//Centering text, making button prettier
.sub-container {
  #welcome {
    text-align: center;
  }
  #landing-text {
    text-align: center;
  }
  #new-event-button {
    padding: 1%;
    margin: 1%;
  }
}

// Headings
.sub-container h1, h2, h3, a, p {
  text-align: center;
  padding-top: .4em;
  padding-bottom: .2em;
  display: block;
}

.jumbotron {
  background-color: #343a40;
  color: #fff;
  opacity: 0.95;
  margin-top: 10%;
}

// Centering header
.header {
  text-align: center;
  padding: 4%;
}

#form02 {
  padding: 2.5% 4%;
}

// Removing pesky border around input forms
#form02 .input:focus {
  background-color: #ddd;
  outline: none;
}

#proceed {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  width: 100%;
  height: auto;
  opacity: 0.9;
}
// New event text fields and button
#form02 input {
  width: 100%;
  padding: 15px;
  margin: 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

#form02 input:focus {
  background-color: #ddd;
  outline: none;
}

#create-event-button {
  margin: 2%;
  padding: 2% 0;
  width: 95%;
}

//User login and email fields and button
#form03 .input {
  width: 100%;
  padding: 15px;
  margin: 5px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
#form04 .optionH3 {
  display: inline-block;
  width: 50%;
}
// Yes i wana go button
#form04 .option{
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  width: 50%;
  height: auto;
  opacity: 0.9;
  float:right;
}

#form04 .option2{
  background-color: rgb(206, 44, 44);
  color: white;
  padding: 14px 20px;
  border: none;
  width: 100%;
  height: auto;
  opacity: 0.9;
  margin-top: 1em;
}


// No i dont wana go button
#form05 input {
  background-color: rgb(219, 41, 41);
  color: white;
  padding: 14px 20px;
  border: none;
  width: 100%;
  height: auto;
  opacity: 0.9;
}

//EDIT PAGE FORMS
.form06 {
  padding-bottom: 2%;
}

.form06 input {
  display: inline-block;
  width: 40%;
  margin-left: 5%;
  text-align: center;
}

// Submit
.form06 button{
  background-color: rgb(41, 44, 192);
  color: white;
  border: none;
  width: 40%;
  opacity: 0.9;
  float: right;
  display: inline-block;
  padding: .15em;
  margin-right: 5%;
  border-radius: 5px;
}

// Footer
.footer {
  z-index: 1;
  width: 100%;
  background-color: #343a40;
  text-position: center;
  color: white;
  margin-top: 40px;
  margin-bottom: 0;
  padding: 0.5%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0
}

// Background slideshow functionality
.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -1;
  animation: imageAnimation 25s linear infinite;
}
.slideshow li:nth-child(1) {
  background-image: url(../images/wedding.jpeg)
}
.slideshow li:nth-child(2) {
  background-image: url(../images/birthday_party.jpeg);
  animation-delay: 5s;
}
.slideshow li:nth-child(3) {
  background-image: url(../images/dinner.jpeg);
  animation-delay: 10s;
}
.slideshow li:nth-child(4) {
  background-image: url(../images/hiking.jpeg);
  animation-delay: 15s;
}
.slideshow li:nth-child(5) {
  background-image: url(../images/pool_party.jpeg);
  animation-delay: 20s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
