// Global font parameters
$font-stack:    Arial, Helvetica, sans-serif;
$primary-color: #fff;

body {
  font: 100% $font-stack;
  color: $primary-color;
  font-family: 'KoHo', sans-serif;
}

* {box-sizing: border-box}

.container {
  z-index: 1;
  width: 80%;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5%;
  padding-top: 1em;
  padding-bottom: 1%;
}

.sub-container {
  opacity: 0.95;
  z-index: 1;
  border-radius: 0.6em;
  background-color: #343a40;
  margin: 2em;
  text-align: center;
  padding: 0 1.5em;
}

.jumbotron {
  background-color: #343a40;
  opacity: 0.95;
  margin-top: 10%;
  border-radius: 0.6em;
  text-align: center
}

.buttons {
  margin: 2% 0;
  padding: 2% 0;
  width: 100%;
}

#update-button-option-1 {
  vertical-align: middle;
}

#update-button-option-2 {
  vertical-align: middle;
}

#update-button-option-3 {
  vertical-align: middle;
}

// Centering header
.header {
  padding: 4%;
}

//form button
.forms {
  padding: 2.5% 4%;
}

.forms input {
  width: 100%;
  padding: 5%;
  margin: 2% 0;
  display: inline-block;
  border: none;
  background-color: #f1f1f1;
}

.forms input:focus {
  background-color: #ddd;
  outline: none;
}

//Header for user_verify and availability page
.header {
  padding: 5% 0 1.5% 0;
}

//Main Page
#jumbo-main {
  margin-top: 5%;
}

#main-table {
  margin-bottom: 10%;
}

//EDIT PAGE FORMS
#cant-come {
  margin-left: 12.5%;
  background: #dc3545;
  margin-bottom: 2.4%;
  border: none;
  color: #fff;
}

#th1 {
  padding: 4%;
}

#th2 {
  padding: 4%;
}

#th3 {
  padding: 4%;
}

// Footer
.footer {
  z-index: 1;
  width: 100%;
  background-color: #343a40;
  text-position: center;
  margin-top: 25%;
  margin-bottom: 0;
  padding: 0.5%;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0
}

.anchor {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

// Background slideshow functionality
.slideshow {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  list-style: none;
  margin: 0;
  padding: 0;
}
.slideshow li {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: -1;
  animation: imageAnimation 25s linear infinite;
}
.slideshow li:nth-child(1) {
  background-image: url(../images/wedding.jpeg)
}
.slideshow li:nth-child(2) {
  background-image: url(../images/birthday_party.jpeg);
  animation-delay: 5s;
}
.slideshow li:nth-child(3) {
  background-image: url(../images/dinner.jpeg);
  animation-delay: 10s;
}
.slideshow li:nth-child(4) {
  background-image: url(../images/hiking.jpeg);
  animation-delay: 15s;
}
.slideshow li:nth-child(5) {
  background-image: url(../images/pool_party.jpeg);
  animation-delay: 20s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  10% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  20% {
    opacity: 1
  }
  30% {
    opacity: 0
  }
}
